ul li{
    list-style: none;
    float: left;
}

ul li a{
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    width: 100px;
    text-align: center;
    background-color: crimson;
    color: floralwhite;
}

ul:after{
    content: '';
    display: block;
    clear: both;
}

.boxer{
    color: darkblue;
    background-color: lightsteelblue;
}